.mobile-device,
.phone-device,
.tablet-device {
  display: none;
}
/* Общие стили */
.main-container {
  gap: calc(40 / 1023 * 100vw);
}
.wrapper {
  width: calc(1600 / 1023 * 100vw);
  padding: calc(0 / 1023 * 100vw) calc(80 / 1023 * 100vw);
}
/* Стили шапки */
.header-nav {
  padding: calc(2 / 1023 * 100vw) calc(10 / 1023 * 100vw);
  gap: calc(10 / 1023 * 100vw);
  height: calc(107 / 1023 * 100vw);
  border-width: calc(3 / 1023 * 100vw);
}

.header-logo-img {
  width: calc(104 / 1023 * 100vw);
  height: calc(103 / 1023 * 100vw);
}
.header-logo-p {
  margin-bottom: calc(10 / 1023 * 100vw);
}
.header-logo-p p:nth-child(1) {
  font-size: calc(20 / 1023 * 100vw);
}
.header-logo-p p:nth-child(2) {
  font-size: calc(30 / 1023 * 100vw);
}
.header-logo-p p:nth-child(3) {
  font-size: calc(16 / 1023 * 100vw);
}
.header-list a {
  font-size: calc(16 / 1023 * 100vw);
  padding: calc(10 / 1023 * 100vw) calc(28 / 1023 * 100vw)
    calc(8 / 1023 * 100vw) calc(28 / 1023 * 100vw);
  border-width: calc(2 / 1023 * 100vw);
}

.header-icon {
  height: calc(46 / 1023 * 100vw);
  padding: calc(0 / 1023 * 100vw);
  gap: calc(15 / 1023 * 100vw);
}
.search__img svg {
  width: calc(23 / 1023 * 100vw);
  height: calc(23 / 1023 * 100vw);
}
.header-input {
  top: calc(92 / 1023 * 100vw);
  right: calc(255 / 1023 * 100vw);
}

.header-input form {
  padding: calc(12 / 1023 * 100vw) calc(19 / 1023 * 100vw)
    calc(12 / 1023 * 100vw) calc(30 / 1023 * 100vw);
  width: calc(446 / 1023 * 100vw);
  border-radius: calc(15 / 1023 * 100vw);
}
.button-search svg {
  width: calc(20 / 1023 * 100vw);
  height: calc(20 / 1023 * 100vw);
}
.input-search {
  font-size: calc(20 / 1023 * 100vw);
}
.header-icon-basket svg {
  width: calc(23 / 1023 * 100vw);
  height: calc(23 / 1023 * 100vw);
}
.header-icon-basket-3 {
  width: calc(20 / 1023 * 100vw);
  height: calc(20 / 1023 * 100vw);
  padding-top: calc(1 / 1023 * 100vw);
  font-size: calc(15 / 1023 * 100vw);
  top: calc(-3 / 1023 * 100vw);
  left: calc(50 / 1023 * 100vw);
}
.header-icon-fav svg {
  width: calc(23 / 1023 * 100vw);
  height: calc(23 / 1023 * 100vw);
}
.header-icon-lk svg {
  width: calc(23 / 1023 * 100vw);
  height: calc(23 / 1023 * 100vw);
}

.header-icon-order {
  width: calc(120 / 1023 * 100vw);
  height: calc(31 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
  line-height: calc(19 / 1023 * 100vw);
  border-width: calc(1 / 1023 * 100vw);
}
.header-phone {
  padding-right: calc(14 / 1023 * 100vw);
  font-size: calc(18 / 1023 * 100vw);
  line-height: calc(16 / 1023 * 100vw);
}
.header-time {
  padding-top: calc(5 / 1023 * 100vw);
  padding-right: calc(10 / 1023 * 100vw);
  font-size: calc(14 / 1023 * 100vw);
  line-height: calc(12 / 1023 * 100vw);
}
/* Стили для первого блока */
.section-one {
  height: calc(350 / 1023 * 100vw);
  margin-top: calc(40 / 1023 * 100vw);
}
.section-one-first {
  gap: calc(32 / 1023 * 100vw);
}
.section-one-first span:first-child {
  padding-top: calc(24 / 1023 * 100vw);
  padding-left: calc(55 / 1023 * 100vw);
  font-size: calc(50 / 1023 * 100vw);
  line-height: calc(58 / 1023 * 100vw);
}
.section-one-first span:last-child {
  padding-top: calc(33 / 1023 * 100vw);
  padding-left: calc(35 / 1023 * 100vw);
  width: calc(560 / 1023 * 100vw);
  height: calc(46 / 1023 * 100vw);
  font-size: calc(40 / 1023 * 100vw);
  line-height: calc(46 / 1023 * 100vw);
}
.section-one-second {
  gap: calc(95 / 1023 * 100vw);
}
.section-one-second p:first-child {
  width: calc(325 / 1023 * 100vw);
  height: calc(50 / 1023 * 100vw);
  padding-left: calc(40 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
  line-height: calc(20 / 1023 * 100vw);
}
.section-one-second p:nth-child(2) {
  width: calc(388 / 1023 * 100vw);
  height: calc(49 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
  line-height: calc(20 / 1023 * 100vw);
}
.section-one-second p:last-child {
  width: calc(326 / 1023 * 100vw);
  height: calc(50 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
  line-height: calc(20 / 1023 * 100vw);
}

/* Стили для блока Меню */
.menu {
  margin-top: calc(70 / 1023 * 100vw);
  border-width: calc(3 / 1023 * 100vw);
}
.menu-title {
  height: calc(80 / 1023 * 100vw);
  font-size: calc(30 / 1023 * 100vw);
}
.menu-img {
  top: calc(-48 / 1023 * 100vw);
  left: calc(-212 / 1023 * 100vw);
  width: calc(168 / 1023 * 100vw);
  height: calc(158 / 1023 * 100vw);
}
.section-menu {
  margin: calc(100 / 1023 * 100vw) 0;
}
.section-menu-new {
  width: calc(165 / 1023 * 100vw);
}
.section-menu-new p {
  font-size: calc(205 / 1023 * 100vw);
  left: calc(-42 / 1023 * 100vw);
  top: calc(50 / 1023 * 100vw);
  letter-spacing: calc(40 / 1023 * 100vw);
}
.menu-ice-cream {
  width: calc(440 / 1023 * 100vw);
  height: calc(738 / 1023 * 100vw);
  margin-right: calc(90 / 1023 * 100vw);
}
.menu-ice-cream p span:first-child {
  padding-top: calc(10 / 1023 * 100vw);
  padding-left: calc(10 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
  line-height: calc(24 / 1023 * 100vw);
}
.menu-ice-cream p:first-child {
  padding-top: calc(10 / 1023 * 100vw);
  width: calc(161 / 1023 * 100vw);
  height: calc(54 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
  line-height: calc(24 / 1023 * 100vw);
}

.menu-img-ice {
  top: calc(-25 / 1023 * 100vw);
  left: calc(-58 / 1023 * 100vw);
  width: calc(545 / 1023 * 100vw);
  height: calc(817 / 1023 * 100vw);
}
.menu-fish-ice-cream {
  top: calc(558 / 1023 * 100vw);
  right: calc(14 / 1023 * 100vw);
  width: calc(161 / 1023 * 100vw);
  height: calc(183 / 1023 * 100vw);
  font-size: calc(50 / 1023 * 100vw);
  line-height: calc(58 / 1023 * 100vw);
}
.menu-percent {
  width: calc(175 / 1023 * 100vw);
  height: calc(104 / 1023 * 100vw);
  font-size: calc(90 / 1023 * 100vw);
  line-height: calc(104 / 1023 * 100vw);
  padding-left: calc(10 / 1023 * 100vw);
  padding-top: calc(10 / 1023 * 100vw);
}
.menu-ice-cream button {
  width: calc(109 / 1023 * 100vw);
  height: calc(31 / 1023 * 100vw);
  font-size: calc(12 / 1023 * 100vw);
  line-height: calc(14 / 1023 * 100vw);
  padding: calc(8 / 1023 * 100vw) calc(15 / 1023 * 100vw);
  margin-top: calc(20 / 1023 * 100vw);
  margin-left: calc(10 / 1023 * 100vw);
}
.menu-cards {
  row-gap: calc(38 / 1023 * 100vw);
}
.menu-card {
  width: calc(354 / 1023 * 100vw);
  height: calc(350 / 1023 * 100vw);
  padding-bottom: calc(18 / 1023 * 100vw);
}
.menu-card p {
  font-size: calc(23 / 1023 * 100vw);
}
.menu-card-name {
  top: calc(-30 / 1023 * 100vw);
  left: calc(25 / 1023 * 100vw);
}
.menu-card-img {
  height: calc(285 / 1023 * 100vw);
  margin-top: calc(-30 / 1023 * 100vw);
}
.menu-card h4 {
  height: calc(24 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
}
.menu-card .button {
  width: calc(142 / 1023 * 100vw);
  height: calc(37 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
}

/* Стили для секции HELP */
.help {
  height: calc(167 / 1023 * 100vw);
  border-width: calc(4 / 1023 * 100vw);
}
.help-title {
  padding-left: calc(89 / 1023 * 100vw);
  width: calc(917 / 1023 * 100vw);
  line-height: calc(50 / 1023 * 100vw);
  padding-top: calc(33 / 1023 * 100vw);
  font-size: calc(25 / 1023 * 100vw);
}

.help-order {
  border-width: calc(1 / 1023 * 100vw);
  width: calc(151 / 1023 * 100vw);
  height: calc(38 / 1023 * 100vw);
  top: calc(106 / 1023 * 100vw);
  left: calc(984 / 1023 * 100vw);
}
.help-order-p {
  font-size: calc(16 / 1023 * 100vw);
  line-height: calc(19 / 1023 * 100vw);
}
.help-order-img {
  width: calc(303 / 1023 * 100vw);
  max-height: 200%;
  left: calc(1156 / 1023 * 100vw);
  top: calc(-62 / 1023 * 100vw);
}
/* Стили для секции напитков */
.drinks {
  margin-top: calc(80 / 1023 * 100vw);
  margin-bottom: calc(80 / 1023 * 100vw);
}
.drinks-japan {
  width: calc(210 / 1023 * 100vw);
  height: calc(162 / 1023 * 100vw);
  font-size: calc(67 / 1023 * 100vw);
  line-height: calc(78 / 1023 * 100vw);
}
.drinks-japan-img {
  width: calc(295 / 1023 * 100vw);
  height: calc(204 / 1023 * 100vw);
  top: calc(50 / 1023 * 100vw);
  right: calc(910 / 1023 * 100vw);
}
.drinks-title-img {
  width: calc(224 / 1023 * 100vw);
  height: calc(227 / 1023 * 100vw);
  right: calc(-134 / 1023 * 100vw);
  top: calc(0 / 1023 * 100vw);
}
.drinks-title-p {
  margin-left: calc(30 / 1023 * 100vw);
  width: calc(1084 / 1023 * 100vw);
  height: calc(109 / 1023 * 100vw);
  font-size: calc(30 / 1023 * 100vw);
  line-height: calc(35 / 1023 * 100vw);
  border-width: calc(3 / 1023 * 100vw);
}
.drinks-cards {
  width: calc(749 / 1023 * 100vw);
  padding-top: calc(80 / 1023 * 100vw);
  row-gap: calc(38 / 1023 * 100vw);
}
.drink-card {
  width: calc(354 / 1023 * 100vw);
  height: calc(350 / 1023 * 100vw);
  border: calc(4 / 1023 * 100vw) solid var(--red);
  padding-bottom: calc(18 / 1023 * 100vw);
}

.drink-card p {
  font-size: calc(23 / 1023 * 100vw);
}
.drink-card-name {
  top: calc(-30 / 1023 * 100vw);
  left: calc(25 / 1023 * 100vw);
}
.drink-card-img {
  height: calc(285 / 1023 * 100vw);
  margin-top: calc(-30 / 1023 * 100vw);
}
.drink-card h4 {
  height: calc(24 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
}
.drink-card .button {
  width: calc(142 / 1023 * 100vw);
  height: calc(37 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
}
.section-drinks-beer {
  width: calc(596 / 1023 * 100vw);
  height: calc(833 / 1023 * 100vw);
}
.beer {
  margin-left: calc(110 / 1023 * 100vw);
  width: calc(55 / 1023 * 100vw);
  font-size: calc(67 / 1023 * 100vw);
  letter-spacing: calc(8 / 1023 * 100vw);
  padding-top: calc(30 / 1023 * 100vw);
}
.drinks-action {
  top: calc(0 / 1023 * 100vw);
  right: calc(-80 / 1023 * 100vw);
  width: calc(498 / 1023 * 100vw);
  height: calc(801 / 1023 * 100vw);
}
.drinks-action h4 span {
  font-size: calc(20 / 1023 * 100vw);
}
.drinks-action h4 {
  padding-top: calc(32 / 1023 * 100vw);
  padding-left: calc(20 / 1023 * 100vw);
  padding-right: calc(170 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
}
.drinks-action h5 {
  font-size: calc(16 / 1023 * 100vw);
  padding-left: calc(20 / 1023 * 100vw);
  padding-top: calc(25 / 1023 * 100vw);
}
.drinks-action-button {
  margin-top: calc(40 / 1023 * 100vw);
  margin-left: calc(25 / 1023 * 100vw);
  margin-bottom: calc(30 / 1023 * 100vw);
  width: calc(143 / 1023 * 100vw);
  height: calc(37 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
}
.drinks-cat {
  top: calc(-203 / 1023 * 100vw);
  right: calc(64 / 1023 * 100vw);
  width: calc(597 / 1023 * 100vw);
}
.drinks-cat p {
  top: calc(239 / 1023 * 100vw);
  right: calc(164 / 1023 * 100vw);
  font-size: calc(50 / 1023 * 100vw);
}
/* Стили для блока доставки */
.delivery-title {
  margin-top: calc(50 / 1023 * 100vw);
  margin-bottom: calc(50 / 1023 * 100vw);
  height: calc(75 / 1023 * 100vw);
  font-size: calc(25 / 1023 * 100vw);
  line-height: calc(30 / 1023 * 100vw);
}
.delivery-title h3 {
  font-size: calc(25 / 1023 * 100vw);
  line-height: calc(30 / 1023 * 100vw);
}
.delivery-block {
  margin-left: calc(219 / 1023 * 100vw);
  margin-bottom: calc(20 / 1023 * 100vw);
}
.delivery-block p {
  padding-top: calc(24 / 1023 * 100vw);
  padding-left: calc(30 / 1023 * 100vw);
  width: calc(1162 / 1023 * 100vw);
  height: calc(24 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
  line-height: calc(24 / 1023 * 100vw);
}
.delivery-japan {
  left: calc(-187 / 1023 * 100vw);
  width: calc(177 / 1023 * 100vw);
  height: calc(64 / 1023 * 100vw);
  font-size: calc(50 / 1023 * 100vw);
  line-height: calc(59 / 1023 * 100vw);
}
.delivery-block ul {
  gap: calc(20 / 1023 * 100vw);
  margin-top: calc(40 / 1023 * 100vw);
  margin-left: calc(571 / 1023 * 100vw);
  width: calc(624 / 1023 * 100vw);
  height: calc(417 / 1023 * 100vw);
}
.delivery-block ul li {
  font-size: calc(16 / 1023 * 100vw);
  line-height: calc(20 / 1023 * 100vw);
}
.delivery-img {
  top: calc(65 / 1023 * 100vw);
  right: calc(663 / 1023 * 100vw);
  width: calc(776 / 1023 * 100vw);
  height: calc(451 / 1023 * 100vw);
}
.delivery-button {
  margin: calc(60 / 1023 * 100vw) calc(40 / 1023 * 100vw)
    calc(20 / 1023 * 100vw) calc(764 / 1023 * 100vw);
  width: calc(245 / 1023 * 100vw);
  height: calc(53 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
  line-height: calc(20 / 1023 * 100vw);
}
/* Стили для страница МЕНЮ */

.sidebar {
  padding-top: calc(60 / 1023 * 100vw);
}

.sidebar-item a {
  height: calc(72 / 1023 * 100vw);
  padding: calc(0 / 1023 * 100vw) calc(80 / 1023 * 100vw) calc(0 / 1023 * 100vw)
    calc(37 / 1023 * 100vw);
}

.sidebar-title {
  font-size: calc(16 / 1023 * 100vw);
}

.sidebar-img {
  bottom: calc(10 / 1023 * 100vw);
  right: calc(-30 / 1023 * 100vw);
  width: calc(100 / 1023 * 100vw);
  height: calc(80 / 1023 * 100vw);
}

.page-menu-sushi {
  width: calc(245 / 1023 * 100vw);
  left: calc(355 / 1023 * 100vw);
}
.sidebar {
  width: calc(335 / 1023 * 100vw);
  margin-right: calc(90 / 1023 * 100vw);
}
.page-menu-hot {
  margin-top: calc(-70 / 1023 * 100vw);
  width: calc(540 / 1023 * 100vw);
  height: calc(568 / 1023 * 100vw);
}
.banner-title {
  margin: calc(350 / 1023 * 100vw) calc(50 / 1023 * 100vw)
    calc(200 / 1023 * 100vw) auto;
  padding: calc(3 / 1023 * 100vw);
  font-size: calc(22 / 1023 * 100vw);
  width: calc(142 / 1023 * 100vw);
  height: calc(37 / 1023 * 100vw);
}
.banner-title-text {
  gap: calc(3 / 1023 * 100vw);
}
.effect-to-right {
  top: calc(65 / 1023 * 100vw);
  left: calc(12 / 1023 * 100vw);
  width: calc(485 / 1023 * 100vw);
  height: calc(455 / 1023 * 100vw);
}
.page-menu-ramen {
  margin-left: calc(-150 / 1023 * 100vw);
  width: calc(43 / 1023 * 100vw);
  height: calc(350 / 1023 * 100vw);
  font-size: calc(60 / 1023 * 100vw);
  line-height: calc(70 / 1023 * 100vw);
}
.page-menu-card {
  width: calc(330 / 1023 * 100vw);
  height: calc(350 / 1023 * 100vw);
  padding-bottom: calc(18 / 1023 * 100vw);
  margin-top: calc(80 / 1023 * 100vw);
}

.page-menu-card p {
  font-size: calc(20 / 1023 * 100vw);
  line-height: calc(24 / 1023 * 100vw);
}
.page-menu-card-name {
  top: calc(170 / 1023 * 100vw);
}
.page-menu-card-img {
  margin-top: calc(-80 / 1023 * 100vw);
  width: calc(285 / 1023 * 100vw);
}
.page-menu-card h4 {
  font-size: calc(12 / 1023 * 100vw);
  line-height: calc(14 / 1023 * 100vw);
}
.page-menu-icon svg {
  top: calc(300 / 1023 * 100vw);
  left: calc(10 / 1023 * 100vw);
  width: calc(41 / 1023 * 100vw);
  height: calc(34 / 1023 * 100vw);
}
.page-menu-card .button {
  bottom: calc(10 / 1023 * 100vw);
  right: calc(10 / 1023 * 100vw);
  width: calc(142 / 1023 * 100vw);
  height: calc(37 / 1023 * 100vw);
  font-size: calc(22 / 1023 * 100vw);
}
.page-menu-click {
  padding: calc(6 / 1023 * 100vw) calc(10 / 1023 * 100vw);
}
.form-input {
  margin-bottom: calc(91 / 1023 * 100vw);
  height: calc(492 / 1023 * 100vw);
}
.menu-form-input {
  top: calc(252 / 1023 * 100vw);
  right: calc(625 / 1023 * 100vw);
  width: calc(370 / 1023 * 100vw);
  padding: calc(6 / 1023 * 100vw) calc(10 / 1023 * 100vw) calc(6 / 1023 * 100vw)
    calc(10 / 1023 * 100vw);
  font-size: calc(25 / 1023 * 100vw);
}
.menu-form-input-phone {
  top: calc(252 / 1023 * 100vw);
  right: calc(225 / 1023 * 100vw);
  width: calc(370 / 1023 * 100vw);
  padding: calc(6 / 1023 * 100vw) calc(10 / 1023 * 100vw) calc(6 / 1023 * 100vw)
    calc(10 / 1023 * 100vw);
  font-size: calc(25 / 1023 * 100vw);
}
.button-input {
  bottom: calc(38 / 1023 * 100vw);
  right: calc(40 / 1023 * 100vw);
  width: calc(369 / 1023 * 100vw);
  height: calc(65 / 1023 * 100vw);
  font-size: calc(25 / 1023 * 100vw);
}

.form-img-panda {
  bottom: calc(-25 / 1023 * 100vw);
  left: calc(-27 / 1023 * 100vw);
  width: calc(655 / 1023 * 100vw);
  height: calc(566 / 1023 * 100vw);
}
.form-title {
  font-size: calc(40 / 1023 * 100vw);
  margin-left: calc(440 / 1023 * 100vw);
  width: calc(554 / 1023 * 100vw);
}
.form-title-p1 {
  margin-bottom: calc(30 / 1023 * 100vw);
  margin-top: calc(28 / 1023 * 100vw);
}
.form-title-p2 {
  font-size: calc(25 / 1023 * 100vw);
}

.form-img-ramen {
  right: calc(-80 / 1023 * 100vw);
  top: calc(-67 / 1023 * 100vw);
  width: calc(364 / 1023 * 100vw);
  height: calc(313 / 1023 * 100vw);
}
.form-img-wave {
  bottom: calc(-30 / 1023 * 100vw);
  right: calc(456 / 1023 * 100vw);
  width: calc(204 / 1023 * 100vw);
  height: calc(227 / 1023 * 100vw);
}
/* Стили для страницы 404 */
.error {
  margin: calc(84 / 1023 * 100vw) calc(0 / 1023 * 100vw) calc(84 / 1023 * 100vw)
    calc(0 / 1023 * 100vw);
  width: calc(1303 / 1023 * 100vw);
  height: calc(748 / 1023 * 100vw);
}
.error-title {
  margin: calc(30 / 1023 * 100vw) auto auto calc(400 / 1023 * 100vw);
  font-size: calc(300 / 1023 * 100vw);
}
.error-not-found {
  top: calc(319 / 1023 * 100vw);
  right: calc(10 / 1023 * 100vw);
  width: calc(479 / 1023 * 100vw);
  font-size: calc(64 / 1023 * 100vw);
}
.error-img {
  bottom: calc(0 / 1023 * 100vw);
  left: calc(0 / 1023 * 100vw);
  width: calc(757 / 1023 * 100vw);
  height: calc(719 / 1023 * 100vw);
}
.error-button {
  bottom: calc(115 / 1023 * 100vw);
  right: calc(184 / 1023 * 100vw);
  padding: calc(5 / 1023 * 100vw) calc(5 / 1023 * 100vw);
  font-size: calc(30 / 1023 * 100vw);
}
/* Стили для ДОСТАВКИ */

.delivery-map {
  top: calc(24 / 1023 * 100vw);
  right: calc(573 / 1023 * 100vw);
  width: calc(868 / 1023 * 100vw);
  height: calc(850 / 1023 * 100vw);
}

.page-delivery-block {
  margin-top: calc(46 / 1023 * 100vw);
  margin-bottom: calc(10 / 1023 * 100vw);
  width: calc(674 / 1023 * 100vw);
  height: calc(898 / 1023 * 100vw);
}
.delivery-block-p1 {
  padding: calc(80 / 1023 * 100vw) calc(132 / 1023 * 100vw)
    calc(0 / 1023 * 100vw) calc(245 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
}
.delivery-block-p2 {
  padding: calc(50 / 1023 * 100vw) calc(90 / 1023 * 100vw)
    calc(0 / 1023 * 100vw) calc(203 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
}

.delivery-list {
  margin: calc(50 / 1023 * 100vw) calc(15 / 1023 * 100vw)
    calc(50 / 1023 * 100vw) 130px;
  gap: calc(20 / 1023 * 100vw);
  margin-top: calc(50 / 1023 * 100vw);
}
.delivery-item {
  font-size: calc(16 / 1023 * 100vw);
}
.delivery-contacts {
  padding-left: 332px;
}
.delivery-contacts a {
  font-size: calc(16 / 1023 * 100vw);
}
.delivery-adress {
  margin-top: calc(50 / 1023 * 100vw);
  padding-left: 130px;
  font-size: calc(16 / 1023 * 100vw);
}
.delivery-form {
  gap: calc(16 / 1023 * 100vw);
  padding-left: calc(162 / 1023 * 100vw);
  margin-top: calc(40 / 1023 * 100vw);
  z-index: 5;
}
.delivery-form-input {
  padding: calc(8 / 1023 * 100vw) calc(0 / 1023 * 100vw);
  font-size: calc(12 / 1023 * 100vw);
}

.delivery-form-input-adress {
  padding: calc(8 / 1023 * 100vw) calc(0 / 1023 * 100vw);
  width: calc(370 / 1023 * 100vw);
  font-size: calc(12 / 1023 * 100vw);
}
.delivery-button-input {
  width: calc(128 / 1023 * 100vw);
  height: calc(27 / 1023 * 100vw);
  padding: calc(8 / 1023 * 100vw) auto;
  font-size: calc(12 / 1023 * 100vw);
}

/* Стили для блока КОНТАКТЫ */
.page-contacts-sushi {
  width: calc(245 / 1023 * 100vw);
  left: calc(318 / 1023 * 100vw);
}
.contacts-map {
  bottom: calc(0 / 1023 * 100vw);
  right: calc(626 / 1023 * 100vw);
  width: calc(816 / 1023 * 100vw);
  height: calc(594 / 1023 * 100vw);
}

.page-contacts-block {
  margin-top: calc(64 / 1023 * 100vw);
  margin-bottom: calc(101 / 1023 * 100vw);
  width: calc(687 / 1023 * 100vw);
  height: calc(644 / 1023 * 100vw);
}

.contacts-block-list {
  margin: calc(157 / 1023 * 100vw) calc(0 / 1023 * 100vw)
    calc(30 / 1023 * 100vw) calc(92 / 1023 * 100vw);
  margin-bottom: calc(30 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
}
.contacts-block-link {
  margin-left: calc(92 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
}
.contacts-wave {
  top: calc(-69 / 1023 * 100vw);
  left: calc(-826 / 1023 * 100vw);
  width: calc(320 / 1023 * 100vw);
  height: calc(202 / 1023 * 100vw);
}
.contacts-mountain {
  bottom: calc(0 / 1023 * 100vw);
  right: calc(0 / 1023 * 100vw);
  width: calc(1350 / 1023 * 100vw);
  height: calc(414 / 1023 * 100vw);
}

/* Стили для блока О НАС */
.page-about-sushi {
  width: calc(245 / 1023 * 100vw);
  left: calc(172 / 1023 * 100vw);
}
.page-about-block {
  margin-top: calc(115 / 1023 * 100vw);
  margin-bottom: calc(89 / 1023 * 100vw);
  width: calc(988 / 1023 * 100vw);
  height: calc(525 / 1023 * 100vw);
}
.about-block-list {
  margin: calc(9 / 1023 * 100vw) calc(16 / 1023 * 100vw) auto
    calc(16 / 1023 * 100vw);
  gap: calc(20 / 1023 * 100vw);
}
.about-block-item {
  font-size: calc(16 / 1023 * 100vw);
}

.about-block-img {
  top: calc(-76 / 1023 * 100vw);
  right: calc(0 / 1023 * 100vw);
  width: calc(518 / 1023 * 100vw);
  height: calc(602 / 1023 * 100vw);
}
/* Стили для страницы Авторизации */
.page-signup-left {
  margin-top: calc(120 / 1023 * 100vw);
  margin-left: calc(357 / 1023 * 100vw);
  margin-bottom: calc(129 / 1023 * 100vw);
  padding-top: calc(172 / 1023 * 100vw);
  width: calc(416 / 1023 * 100vw);
  height: calc(411 / 1023 * 100vw);
}

.page-signup-left-h1 {
  font-size: calc(25 / 1023 * 100vw);
}
.page-signup-left-h2 {
  margin-top: calc(19 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
}

.page-signup-list {
  margin-top: calc(91 / 1023 * 100vw);
  gap: calc(10 / 1023 * 100vw);
}
.page-signup-icon svg {
  width: calc(44 / 1023 * 100vw);
  height: calc(44 / 1023 * 100vw);
}

.page-signup-right {
  top: calc(45 / 1023 * 100vw);
  right: calc(245 / 1023 * 100vw);
  width: calc(466 / 1023 * 100vw);
  height: calc(320 / 1023 * 100vw);
}
.page-signup-right-img {
  right: calc(677 / 1023 * 100vw);
  width: calc(132 / 1023 * 100vw);
  height: calc(145 / 1023 * 100vw);
}
.signup-input-title {
  padding: calc(32 / 1023 * 100vw) calc(0 / 1023 * 100vw) calc(3 / 1023 * 100vw)
    calc(27 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
}
.signup-input {
  margin: calc(0 / 1023 * 100vw) calc(18 / 1023 * 100vw);
  width: calc(430 / 1023 * 100vw);
  height: calc(45 / 1023 * 100vw);
}

.input-checkbox-span {
  margin-top: calc(18 / 1023 * 100vw);
  margin-left: calc(18 / 1023 * 100vw);
  height: calc(18 / 1023 * 100vw);
  width: calc(18 / 1023 * 100vw);
  padding: calc(3 / 1023 * 100vw);
}
[type="checkbox"]:checked + span:before {
  /* <-- ставим иконку, когда чекбокс включен  */
  top: calc(-7 / 1023 * 100vw);
  font-size: calc(23 / 1023 * 100vw);
}
.signup-input-checkbox {
  width: calc(18 / 1023 * 100vw);
  height: calc(18 / 1023 * 100vw);
  margin: calc(18 / 1023 * 100vw) calc(0 / 1023 * 100vw) calc(0 / 1023 * 100vw)
    calc(18 / 1023 * 100vw);
}
.signup-input-checkbox-text {
  font-size: calc(10 / 1023 * 100vw);
  line-height: calc(12 / 1023 * 100vw);
}
.signup-button-input {
  right: calc(192 / 1023 * 100vw);
  bottom: calc(32 / 1023 * 100vw);
  width: calc(63 / 1023 * 100vw);
  height: calc(24 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
  padding: calc(5 / 1023 * 100vw) calc(9 / 1023 * 100vw);
  gap: calc(10 / 1023 * 100vw);
  width: calc(81 / 1023 * 100vw);
  height: calc(34 / 1023 * 100vw);
}

.signup-input-text {
  bottom: calc(40 / 1023 * 100vw);
  right: calc(18 / 1023 * 100vw);
  font-size: calc(10 / 1023 * 100vw);
  line-height: calc(12 / 1023 * 100vw);
}
/* Стили для блока Неверный пароль */
.incorrect-page {
  width: calc(690 / 1023 * 100vw);
  height: calc(346 / 1023 * 100vw);
  margin: calc(158 / 1023 * 100vw) calc(420 / 1023 * 100vw)
    calc(156 / 1023 * 100vw) calc(380 / 1023 * 100vw);
}
.incorrect-page-oops {
  font-size: calc(64 / 1023 * 100vw);
}
.incorrect-page-text {
  padding: calc(17 / 1023 * 100vw) calc(15 / 1023 * 100vw);
  font-size: calc(35 / 1023 * 100vw);
}
.incorrect-page-text span {
  font-size: calc(35 / 1023 * 100vw);
}
.incorrect-page-button {
  margin-top: calc(32 / 1023 * 100vw);
  width: calc(175 / 1023 * 100vw);
  height: calc(29 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
}
.incorrect-page-img1 {
  bottom: calc(55 / 1023 * 100vw);
  left: calc(358 / 1023 * 100vw);
  width: calc(240 / 1023 * 100vw);
  height: calc(251 / 1023 * 100vw);
}
.incorrect-page-img2 {
  top: calc(39 / 1023 * 100vw);
  right: calc(274 / 1023 * 100vw);
  width: calc(258 / 1023 * 100vw);
  height: calc(359 / 1023 * 100vw);
}
/* Стили для блока ЛИЧНЫЙ КАБИНЕТ */
.personal-sidebar {
  margin-top: calc(80 / 1023 * 100vw);
  margin-bottom: calc(691 / 1023 * 100vw);
  padding-top: calc(37 / 1023 * 100vw);
}
.personal {
  margin-top: calc(59 / 1023 * 100vw);
  height: calc(77 / 1023 * 100vw);
}
.personal-title {
  font-size: calc(30 / 1023 * 100vw);
}
.personal-sidebar-item a {
  height: calc(72 / 1023 * 100vw);
  padding: calc(0 / 1023 * 100vw) calc(80 / 1023 * 100vw) calc(0 / 1023 * 100vw)
    calc(37 / 1023 * 100vw);
}

.personal-sidebar-title {
  font-size: calc(16 / 1023 * 100vw);
}

.personal-sidebar-img {
  bottom: calc(10 / 1023 * 100vw);
  right: calc(-30 / 1023 * 100vw);
  width: calc(100 / 1023 * 100vw);
  height: calc(80 / 1023 * 100vw);
}

.page-personal-sushi {
  width: calc(245 / 1023 * 100vw);
  left: calc(480 / 1023 * 100vw);
}
.personal-sidebar {
  width: calc(335 / 1023 * 100vw);
  margin-right: calc(90 / 1023 * 100vw);
}
.section-personal {
  height: calc(420 / 1023 * 100vw);
  margin-bottom: calc(43 / 1023 * 100vw);
}
.personal-name {
  margin-top: calc(80 / 1023 * 100vw);
  font-size: calc(17 / 1023 * 100vw);
}
.personal-form-input-name {
  width: calc(650 / 1023 * 100vw);
  height: calc(54 / 1023 * 100vw);
  margin-top: calc(8 / 1023 * 100vw);
  padding-left: calc(25 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
}
.personal-phone {
  font-size: calc(17 / 1023 * 100vw);
  margin-top: calc(11 / 1023 * 100vw);
}
.personal-form-input-phone {
  width: calc(310 / 1023 * 100vw);
  height: calc(58 / 1023 * 100vw);
  padding-left: calc(25 / 1023 * 100vw);
  margin-top: calc(8 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
}
.personal-mail {
  font-size: calc(17 / 1023 * 100vw);
  margin-top: calc(11 / 1023 * 100vw);
  margin-left: calc(27 / 1023 * 100vw);
}
.personal-form-input-mail {
  width: calc(310 / 1023 * 100vw);
  height: calc(58 / 1023 * 100vw);
  margin-left: calc(27 / 1023 * 100vw);
  margin-top: calc(8 / 1023 * 100vw);
  padding-left: calc(25 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
}
.personal-adress {
  font-size: calc(17 / 1023 * 100vw);
  margin-top: calc(11 / 1023 * 100vw);
}
.personal-form-input-adress {
  width: calc(647 / 1023 * 100vw);
  height: calc(58 / 1023 * 100vw);
  padding-left: calc(25 / 1023 * 100vw);
  margin-top: calc(8 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
}
.personal-form-button {
  margin-top: calc(50 / 1023 * 100vw);
  width: calc(310 / 1023 * 100vw);
  height: calc(58 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
}
.personal-form-photo {
  margin-top: calc(80 / 1023 * 100vw);
  margin-left: calc(70 / 1023 * 100vw);
  width: calc(280 / 1023 * 100vw);
  height: calc(280 / 1023 * 100vw);
  font-size: calc(25 / 1023 * 100vw);
}
.personal-form-password {
  margin-left: calc(425 / 1023 * 100vw);
  margin-bottom: calc(37 / 1023 * 100vw);
}

.personal-form-password-button {
  margin-top: calc(80 / 1023 * 100vw);
  width: 397px;
  height: 66px;
  font-size: calc(25 / 1023 * 100vw);
  margin-left: calc(425 / 1023 * 100vw);
}
.personal-form-password {
  gap: calc(25 / 1023 * 100vw);
}
.personal-password {
  font-size: calc(17 / 1023 * 100vw);
  margin-top: calc(37 / 1023 * 100vw);
}
.personal-password-input {
  width: calc(310 / 1023 * 100vw);
  height: calc(58 / 1023 * 100vw);
  padding-left: calc(25 / 1023 * 100vw);
  margin-top: calc(8 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
}
.personal-change-button {
  width: calc(310 / 1023 * 100vw);
  height: calc(58 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
  margin-left: calc(425 / 1023 * 100vw);
  margin-top: calc(33 / 1023 * 100vw);
  margin-bottom: calc(204 / 1023 * 100vw);
}
/* Стили для страницы Регистрация */
.page-reg-left {
  margin-top: calc(120 / 1023 * 100vw);
  margin-left: calc(357 / 1023 * 100vw);
  margin-bottom: calc(129 / 1023 * 100vw);
  padding-top: calc(172 / 1023 * 100vw);
  width: calc(416 / 1023 * 100vw);
  height: calc(411 / 1023 * 100vw);
}

.page-reg-left-h1 {
  font-size: calc(20 / 1023 * 100vw);
}

.page-reg-left-h2 {
  margin-top: calc(19 / 1023 * 100vw);
  font-size: calc(25 / 1023 * 100vw);
  line-height: calc(30 / 1023 * 100vw);
}

.page-reg-list {
  margin-top: calc(91 / 1023 * 100vw);
  gap: calc(10 / 1023 * 100vw);
}
.page-reg-icon svg {
  width: calc(44 / 1023 * 100vw);
  height: calc(44 / 1023 * 100vw);
}

.page-reg-right {
  column-gap: calc(33 / 1023 * 100vw);
  top: calc(22 / 1023 * 100vw);
  right: calc(245 / 1023 * 100vw);
  width: calc(473 / 1023 * 100vw);
  height: calc(366 / 1023 * 100vw);
}
.page-reg-right-img {
  right: calc(677 / 1023 * 100vw);
  top: calc(35 / 1023 * 100vw);
  width: calc(132 / 1023 * 100vw);
  height: calc(145 / 1023 * 100vw);
}
.reg-input-title {
  padding-left: calc(34 / 1023 * 100vw);
  padding-top: calc(10 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
}
.reg-input {
  margin-left: calc(25 / 1023 * 100vw);
  padding-top: calc(33 / 1023 * 100vw);
  width: calc(430 / 1023 * 100vw);
  height: calc(45 / 1023 * 100vw);
}
.reg-input-checkbox {
  width: calc(18 / 1023 * 100vw);
  height: calc(18 / 1023 * 100vw);
  margin: calc(18 / 1023 * 100vw) calc(0 / 1023 * 100vw) calc(0 / 1023 * 100vw)
    calc(18 / 1023 * 100vw);
}
.reg-input-checkbox-text {
  font-size: calc(10 / 1023 * 100vw);
  line-height: calc(12 / 1023 * 100vw);
}
.reg-button-input {
  right: calc(110 / 1023 * 100vw);
  bottom: calc(32 / 1023 * 100vw);
  width: calc(63 / 1023 * 100vw);
  height: calc(24 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
  padding: calc(5 / 1023 * 100vw) calc(9 / 1023 * 100vw);
  width: calc(235 / 1023 * 100vw);
  height: calc(34 / 1023 * 100vw);
}

/* Стили для блока ИЗБРАННОЕ */
.favorite {
  margin-top: calc(59 / 1023 * 100vw);
  height: calc(77 / 1023 * 100vw);
}
.favorite-title {
  font-size: calc(30 / 1023 * 100vw);
}
.favorite-sidebar {
  margin-top: calc(80 / 1023 * 100vw);
  padding-top: calc(37 / 1023 * 100vw);
  width: calc(335 / 1023 * 100vw);
  margin-right: calc(90 / 1023 * 100vw);
}

.favorite-sidebar-item a {
  height: calc(72 / 1023 * 100vw);
  padding: calc(0 / 1023 * 100vw) calc(80 / 1023 * 100vw) calc(0 / 1023 * 100vw)
    calc(37 / 1023 * 100vw);
}

.favorite-sidebar-title {
  font-size: calc(16 / 1023 * 100vw);
}

.favorite-sidebar-img {
  bottom: calc(10 / 1023 * 100vw);
  right: calc(-30 / 1023 * 100vw);
  width: calc(100 / 1023 * 100vw);
  height: calc(80 / 1023 * 100vw);
}

.page-favorite-sushi {
  width: calc(245 / 1023 * 100vw);
  left: calc(515 / 1023 * 100vw);
}
.section-favorite {
  margin-bottom: calc(43 / 1023 * 100vw);
}
.favorite-cards {
  gap: calc(12 / 1023 * 100vw);
}

/* Стили для блока ИСТОРИЯ ЗАКАЗОВ */
.history-sidebar {
  width: calc(388 / 1023 * 100vw);
  padding-top: calc(37 / 1023 * 100vw);
}

.history-sidebar-item a {
  height: calc(72 / 1023 * 100vw);
  padding: 0 calc(80 / 1023 * 100vw) 0 calc(37 / 1023 * 100vw);
}

.history-sidebar-title {
  font-size: calc(16 / 1023 * 100vw);
}

.history-sidebar-img {
  bottom: calc(10 / 1023 * 100vw);
  right: calc(-30 / 1023 * 100vw);
  width: calc(100 / 1023 * 100vw);
  height: calc(80 / 1023 * 100vw);
}
.section-history {
  margin-bottom: calc(43 / 1023 * 100vw);
  margin-top: calc(57 / 1023 * 100vw);
}
.history-block {
  gap: calc(29 / 1023 * 100vw);
  margin-left: calc(52 / 1023 * 100vw);
}
.history-block-table {
  width: calc(1000 / 1023 * 100vw);
}
.history-block-img {
  margin: calc(11 / 1023 * 100vw);
}
.history-block-adress {
  padding: calc(11 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
  width: calc(228 / 1023 * 100vw);
  height: calc(64 / 1023 * 100vw);
}
.history-block-price {
  font-size: calc(16 / 1023 * 100vw);
  padding: calc(11 / 1023 * 100vw);
}
.history-block-delivery {
  font-size: calc(16 / 1023 * 100vw);
  padding: calc(11 / 1023 * 100vw);
}
.history-block-button {
  right: calc(26 / 1023 * 100vw);
  bottom: calc(14 / 1023 * 100vw);
  width: calc(160 / 1023 * 100vw);
  height: calc(29 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
}
/* Стили для блока ПОДРОБНОСТИ ЗАКАЗА */
.details-sidebar {
  width: calc(388 / 1023 * 100vw);
  padding-top: calc(37 / 1023 * 100vw);
}

.details-sidebar-item a {
  height: calc(72 / 1023 * 100vw);
  padding: calc(0 / 1023 * 100vw) calc(80 / 1023 * 100vw) calc(0 / 1023 * 100vw)
    calc(37 / 1023 * 100vw);
}

.details-sidebar-title {
  font-size: calc(16 / 1023 * 100vw);
}

.details-sidebar-img {
  bottom: calc(10 / 1023 * 100vw);
  right: calc(-30 / 1023 * 100vw);
  width: calc(100 / 1023 * 100vw);
  height: calc(80 / 1023 * 100vw);
}
.details-title {
  font-size: calc(30 / 1023 * 100vw);
}
.section-details {
  margin-bottom: calc(43 / 1023 * 100vw);
  margin-top: calc(57 / 1023 * 100vw);
}
.details-block {
  gap: calc(29 / 1023 * 100vw);
  margin-left: calc(52 / 1023 * 100vw);
}
.details-block-table {
  width: calc(1000 / 1023 * 100vw);
}
.details-block-img {
  margin: calc(11 / 1023 * 100vw);
}
.details-block-adress {
  padding: calc(11 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
  width: calc(228 / 1023 * 100vw);
  height: calc(64 / 1023 * 100vw);
}
.details-block-price {
  font-size: calc(16 / 1023 * 100vw);
  padding: calc(11 / 1023 * 100vw);
}
.details-block-delivery {
  font-size: calc(16 / 1023 * 100vw);
  padding: calc(11 / 1023 * 100vw);
}
.details-block-button {
  right: calc(26 / 1023 * 100vw);
  top: 130px;
  width: calc(160 / 1023 * 100vw);
  height: calc(29 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
}
.details-cards {
  gap: calc(35 / 1023 * 100vw);
  padding-left: calc(18 / 1023 * 100vw);
  padding-bottom: calc(26 / 1023 * 100vw);
}

/* Стили для блока КОРЗИНА */
.cart-sidebar {
  width: calc(388 / 1023 * 100vw);
  padding-top: calc(37 / 1023 * 100vw);
}
.cart-block {
  margin-top: calc(82 / 1023 * 100vw);
}
.cart-block-one {
  margin-bottom: calc(12 / 1023 * 100vw);
}
.cart-block-two {
  height: calc(116 / 1023 * 100vw);
  margin-bottom: calc(82 / 1023 * 100vw);
}
.cart-block-item {
  font-size: calc(16 / 1023 * 100vw);
}
.cart-block-text {
  width: calc(622 / 1023 * 100vw);
}
.cart-block-text-1 {
  font-size: calc(20 / 1023 * 100vw);
}
.cart-block-text-2 {
  font-size: calc(16 / 1023 * 100vw);
}
.cart-block-price {
  width: calc(250 / 1023 * 100vw);
}
.cart-block-text-3 {
  font-size: calc(16 / 1023 * 100vw);
}
.cart-block-quantity {
  gap: calc(5 / 1023 * 100vw);
  width: calc(103 / 1023 * 100vw);
  margin-top: calc(40 / 1023 * 100vw);
  margin-bottom: calc(40 / 1023 * 100vw);
}
.cart-block-sum {
  margin-left: calc(67 / 1023 * 100vw);
  width: calc(120 / 1023 * 100vw);
}
.cart-block-delete {
  width: calc(139 / 1023 * 100vw);
  height: calc(35 / 1023 * 100vw);
  margin-top: calc(40 / 1023 * 100vw);
  margin-bottom: calc(40 / 1023 * 100vw);
  margin-left: calc(82 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
}
.cart-block-text-color {
  font-size: calc(20 / 1023 * 100vw);
}
.cart-block-img {
  bottom: calc(0 / 1023 * 100vw);
  left: calc(38 / 1023 * 100vw);
  width: calc(169 / 1023 * 100vw);
  height: calc(189 / 1023 * 100vw);
}
.line {
  margin-top: calc(60 / 1023 * 100vw);
}
.discount {
  gap: calc(36 / 1023 * 100vw);
}
.discount-title {
  font-size: calc(20 / 1023 * 100vw);
}

.discount-text {
  width: calc(207 / 1023 * 100vw);
  height: calc(38 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
}

.discount-check {
  width: calc(121 / 1023 * 100vw);
  height: calc(34 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
}
.cart-block-end {
  margin-top: calc(69 / 1023 * 100vw);
}
.cart-summary-block {
  padding: calc(11 / 1023 * 100vw) calc(12 / 1023 * 100vw);
  gap: calc(51 / 1023 * 100vw);
  width: calc(288 / 1023 * 100vw);
  height: calc(78 / 1023 * 100vw);
}
.cart-summary-text {
  gap: calc(12 / 1023 * 100vw);
}
.cart-summary {
  gap: calc(12 / 1023 * 100vw);
}
.cart-summary-text-1 {
  font-size: calc(20 / 1023 * 100vw);
}
.cart-summary-text-2 {
  font-size: calc(16 / 1023 * 100vw);
}
.cart-summary-1 {
  font-size: calc(20 / 1023 * 100vw);
}
.cart-summary-2 {
  font-size: calc(16 / 1023 * 100vw);
}
.cart-order-button {
  margin-top: calc(50 / 1023 * 100vw);
  margin-bottom: calc(100 / 1023 * 100vw);
}
.cart-order {
  width: calc(193 / 1023 * 100vw);
  height: calc(41 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
}
/* Стили для блока ОФОРМЛЕНИЕ ЗАКАЗА */

.ordering-page {
  gap: calc(13 / 1023 * 100vw);
}
.ordering {
  margin-top: calc(59 / 1023 * 100vw);
  height: calc(77 / 1023 * 100vw);
}
.ordering-title {
  font-size: calc(30 / 1023 * 100vw);
}
.ordering-sidebar {
  gap: calc(26 / 1023 * 100vw);
  padding-top: calc(40 / 1023 * 100vw);
  margin-top: calc(91 / 1023 * 100vw);
  width: calc(334 / 1023 * 100vw);
  height: calc(518 / 1023 * 100vw);
}
.ordering-sidebar-text1,
.ordering-sidebar-text2 {
  font-size: calc(20 / 1023 * 100vw);
}

.line2 {
  width: calc(266 / 1023 * 100vw);
}
.ordering-sidebar-button-text {
  font-size: calc(16 / 1023 * 100vw);
  width: calc(266 / 1023 * 100vw);
  height: calc(40 / 1023 * 100vw);
}
.section-order {
  margin-top: calc(91 / 1023 * 100vw);
  margin-bottom: calc(80 / 1023 * 100vw);
  width: calc(1093 / 1023 * 100vw);
}
.ordering-map {
  padding: calc(26 / 1023 * 100vw) calc(19 / 1023 * 100vw);
  width: calc(528 / 1023 * 100vw);
  height: calc(646 / 1023 * 100vw);
}
.ordering-name {
  margin-top: calc(22 / 1023 * 100vw);
  font-size: calc(17 / 1023 * 100vw);
}
.ordering-form-input-name {
  width: calc(490 / 1023 * 100vw);
  height: calc(53 / 1023 * 100vw);
  margin-top: calc(8 / 1023 * 100vw);
  padding-left: calc(17 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
}
.ordering-form-input-text {
  width: calc(490 / 1023 * 100vw);
  height: calc(109 / 1023 * 100vw);
  margin-top: calc(8 / 1023 * 100vw);
  padding-left: calc(17 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
}

.ordering-button-block {
  margin-bottom: calc(28 / 1023 * 100vw);
}
.ordering-button {
  margin-top: calc(40 / 1023 * 100vw);
  width: calc(223 / 1023 * 100vw);
  height: calc(60 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
}

/* Стили для футера */
.footer-nav {
  padding: calc(2 / 1023 * 100vw) calc(10 / 1023 * 100vw);
  gap: calc(89 / 1023 * 100vw);
  height: calc(107 / 1023 * 100vw);
  border-width: calc(3 / 1023 * 100vw);
}

.footer-logo-img {
  width: calc(104 / 1023 * 100vw);
  height: calc(100 / 1023 * 100vw);
  margin: calc(15 / 1023 * 100vw) 0 0 auto;
}
.footer-logo-font-p1 {
  padding-top: calc(27 / 1023 * 100vw);
  font-size: calc(20 / 1023 * 100vw);
  line-height: calc(24 / 1023 * 100vw);
}
.footer-logo-font-p2 {
  padding-top: calc(13 / 1023 * 100vw);
  font-size: calc(30 / 1023 * 100vw);
  line-height: calc(35 / 1023 * 100vw);
}
.footer-logo-font-p3 {
  font-size: calc(16 / 1023 * 100vw);
  line-height: calc(19 / 1023 * 100vw);
}
.footer-list {
  gap: calc(15 / 1023 * 100vw);
}
.footer-list a {
  font-size: calc(16 / 1023 * 100vw);
  line-height: calc(20 / 1023 * 100vw);
}
.footer-icon {
  height: calc(34 / 1023 * 100vw);
  gap: calc(15 / 1023 * 100vw);
}
.footer-icon-inst svg {
  width: calc(23 / 1023 * 100vw);
  height: calc(23 / 1023 * 100vw);
}
.footer-icon-whatsapp svg {
  width: calc(23 / 1023 * 100vw);
  height: calc(23 / 1023 * 100vw);
}
.footer-icon-fav svg {
  width: calc(23 / 1023 * 100vw);
  height: calc(23 / 1023 * 100vw);
}
.footer-icon-lk svg {
  width: calc(23 / 1023 * 100vw);
  height: calc(23 / 1023 * 100vw);
}
.footer-icon-hot {
  pad: calc(6 / 1023 * 100vw) calc(12 / 1023 * 100vw) calc(8 / 1023 * 100vw)
    calc(12 / 1023 * 100vw);
  width: calc(149 / 1023 * 100vw);
  height: calc(35 / 1023 * 100vw);
  font-size: calc(16 / 1023 * 100vw);
  line-height: calc(20 / 1023 * 100vw);
  border-width: calc(2 / 1023 * 100vw);
}
.footer-time {
  padding-bottom: calc(15 / 1023 * 100vw);
  width: calc(90 / 1023 * 100vw);
  height: calc(12 / 1023 * 100vw);
  font-size: calc(10 / 1023 * 100vw);
  line-height: calc(12 / 1023 * 100vw);
}
.footer-phone {
  width: calc(92 / 1023 * 100vw);
  height: calc(16 / 1023 * 100vw);
  font-size: calc(14 / 1023 * 100vw);
  line-height: calc(16 / 1023 * 100vw);
}

.footer-red {
  gap: calc(200 / 1023 * 100vw);
  height: calc(50 / 1023 * 100vw);
  border-width: calc(3 / 1023 * 100vw);
}
.footer-red-p1 {
  font-size: calc(16 / 1023 * 100vw);
  line-height: calc(19 / 1023 * 100vw);
}
.footer-red-p2 {
  font-size: calc(16 / 1023 * 100vw);
  line-height: calc(20 / 1023 * 100vw);
}
.footer-red-p3 {
  font-size: calc(16 / 1023 * 100vw);
  line-height: calc(20 / 1023 * 100vw);
}
